*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    background-color: #fff;
}
.container{
    width: 90%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.flex-container-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}
.flex-container-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.grid-container{
    display: grid;
    margin: 10px auto;
    width: 95vw;
    height: 275px;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
header{
    height: 14vh;
    background-color: #fff;
    border-bottom: solid 1px #fff;
}
#branding{
    margin: 30px;
}
#branding h1{
    color: rgb(231, 63, 2);
}
.dropdown{
    background-color: none;
    width: 12vw;
}
.dropdown-button{
    border: none;
    outline: none;
    font-size: 1.0rem;
    color: rgb(231,63,2);
    padding: 14px;
    background-color: #fff;
}
.dropdown-content{
    display: none;
    min-width: 160px;
    background-color: rgb(255,255,255, 0.7);
}
.show{
    display: block;
}
.dropdown-content a{
    float: none;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 3px;
    font-size: 1.0rem;
}
#showcase{
    height: 70vh;
    background: url("./assets/iphone-6.jpg") no-repeat 0 -150px;
    background-size: cover;
    background-color: #f4f4f4;
}
#showcase-text{
    font-size: 2rem;
    float: left;
    margin-top: 150px;
}
#case-display{
    margin: 80px;
    height: 40vh;
}
#case-display img{
    width: 20vw;
    height: 30vh;
}
#mid-page{
    background-color: #f4f4f4;
    height: 21vh;
    border-bottom: solid 1px #fff;
    margin-top: 100px;
}
#mid-page h3{
    margin-top: 30px;
    font-size: 1.5rem;
}
#mid-page p{
    margin: 10px;
    font-size: 1.0rem;
}
#bottom-showcase{
    background: url("./assets/iphone.jpeg") no-repeat 0 -140px;
    background-size: cover;
    height: 40vh;
}
footer{
    background-color: #111;
    border-top: solid 1px #f4f4f4;
    color: rgb(231,63,2);
    position: relative;
}
footer p{
    margin: 15px 80px 10px 80px;
}
#footer-border{
    border: solid 1px #fff;
    height: 2px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#newsletter{
    margin: 100px 10px;
}
#fname,#lname{
    width: 13vw;
    height: 6vh;
    padding: 2px
}
#email{
    width: 26vw;
    height: 6vh;
    display: block;
}
#newsletter-button{
    width: 26vw;
    height: 6vh;
    display: block;
    background-color: #000;
    color: rgb(231,63,2);
}
.models li{
    list-style: none;
    text-align: left;
    padding: 6px;
}
/*selection.html page*/
.flex-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#selection-container{
    margin: 10px;
}
#selection-container img{
    width: 20vw;
    height: 30vh;
}
.add-to-cart{
    width: 8rem;
    height: 2rem;
    background-image: linear-gradient( rgb(248, 69, 3),rgb(182, 51, 3));
    color: #fff;
    border: none;
}
.cart-icon{
    margin: 0 5px 0 0; 
    display: inline-block;   
}
.cart-num{
    color:#fff;
    text-align: center;
    font-weight: bold;
    background-color:rgb(182, 51, 3);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}
.cart-num p{
    text-align: center;
    margin-top: .3rem;
}
.go-to-cart{
    display: inline-block;
}
.go-to-cart:hover{
    color:rgb(182, 51, 3);
    cursor: pointer;
}
/* .shopping-cart{
    float: right;
} */
/*Cart Section*/
#cart-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

#cart-section h2{
    margin: 10px;
}
.cart-div{
    padding: 20px;
    background-color: #f4f4f4;
}
.cart-div .title{
    font-size: 2rem;
}
#empty-cart, .remove-item{
    background-image: linear-gradient(#53b6f0, #0d93e0);
    width: 130px;
    height: 45px;
    color: #fff;
    border: none;
    border-radius: 5%;
    margin: 10px;
    font-size: 1rem;
}
.title{
    grid-area: 1 / 1 / 2 / 3;
}
.cart-img{
    grid-area: 2 / 1 / 5 / 3;
}
#price{
    grid-area: 7 / 1 / 8 / 3;
    font-size: 1.5rem;
    margin-left: 30px;
}
.remove-item{
    grid-area: 5 / 10 / 7 / 12;
}
.details{
    grid-area: 2 / 3 / 5 / 8;
}

/* grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr); */
.home-button{
    width: 8rem;
    height: 2rem;
    background-image: linear-gradient( rgb(248, 69, 3),rgb(182, 51, 3));
    color: #fff;
    border: none;
}
.shopping-cart-h2{
    margin: 5px 30px;
}
.checkout{
    min-height: 350px;
    width: 250px;
    border: solid 1px #000;
    margin: 5px 27px;
    display: flex;
    justify-content: center;
}
