*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    background-color: #fff;
}
.container{
    width: 90%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.flex-container-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}
.flex-container-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
header{
    height: 14vh;
    background-color: #fff;
    border-bottom: solid 1px #fff;
}
#branding{
    margin: 30px;
}
#branding h1{
    color: rgb(231, 63, 2);
    display: inline;
}
.dropdown{
    background-color: none;
    width: 12vw;
}
.dropdown-button{
    border: none;
    outline: none;
    font-size: 1.0rem;
    color: rgb(231,63,2);
    padding: 14px;
    background-color: #fff;
}
.dropdown-content{
    display: none;
    min-width: 160px;
    background-color: rgb(255,255,255, 0.7);
}
.show{
    display: block;
}
.dropdown-content a{
    float: none;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 3px;
    font-size: 1.0rem;
}
#showcase{
    height: 70vh;
    background: url("./assets/iphone-6.jpg") no-repeat 0 -150px;
    background-size: cover;
    background-color: #f4f4f4;
}
#showcase-text{
    font-size: 2rem;
    float: left;
    margin-top: 150px;
}
#case-display{
    margin: 80px;
    height: 40vh;
}
#case-display img{
    width: 20vw;
    height: 30vh;
}
#mid-page{
    background-color: #f4f4f4;
    height: 21vh;
    border-bottom: solid 1px #fff;
}
#mid-page h3{
    margin-top: 30px;
    font-size: 1.5rem;
}
#mid-page p{
    margin: 10px;
    font-size: 1.0rem;
}
#bottom-showcase{
    background: url("./assets/iphone.jpeg") no-repeat 0 -140px;
    background-size: cover;
    height: 40vh;
}
footer{
    background-color: #111;
    border-top: solid 1px #f4f4f4;
    color: rgb(231,63,2);
    position: relative;
}
footer p{
    margin: 15px 80px 10px 80px;
}
#footer-border{
    border: solid 1px #fff;
    height: 2px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#newsletter{
    margin: 100px 10px;
}
#fname,#lname{
    width: 13vw;
    height: 6vh;
    padding: 2px
}
#email{
    width: 26vw;
    height: 6vh;
    display: block;
}
#newsletter-button{
    width: 26vw;
    height: 6vh;
    display: block;
    background-color: #000;
    color: rgb(231,63,2);
}
.models li{
    list-style: none;
    text-align: left;
    padding: 6px;
}
/*selection.html page*/
.flex-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#selection-container{
    margin: 10px;
}
#selection-container img{
    width: 20vw;
    height: 30vh;
}
.add-to-cart{
    width: 8rem;
    height: 2rem;
    background-image: linear-gradient( rgb(248, 69, 3),rgb(182, 51, 3));
    color: #fff;
    border: none;
}
.cart-icon{
    margin: 0 5px;    
}
.cart-num{
    
}
.shopping-cart{
    float: right;
}
